# Color settings for 'git status'	
[color "status"]
	# To test HEX colors, https://www.colorhexa.com/
	
	# Comments
	header = "#999999"
	# Changes to be committed
	added = "#99CC99"
	# Changes not staged for commit
	changed = "#F08080"
	# Untracked Files
	untracked = "#FFCC66"
	# Current branch name ("Font Color" "HighLight Color")
	branch = "#2D2D2D" "#6699CC"
	
	# Because the phrase "Detached HEAD" isn't unnerving enough
	nobranch = bold ul blink "#F99157"
	
# Color settings for 'git diff'		
[color "diff"]
    # Information about the file we're scanning
	meta = "#FFFFE0"
	#
	func = "#cc99cc"
	# Code break
	frag = "#00BFFF"
	# Comments
	context = "#FFFFFF"
	# Previous changes ("Font Color" "HighLight Color")
	old = "#F2777A" "#393939"
	# New changes ("Font Color" "HighLight Color")
	new = "#BEF2BE" "#A9A9A9"